<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @movie.name %>
</p>

<p>
  <b>Quantity:</b>
  <%= @movie.quantity %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag(@movie.image) %>
</p>

<p>
  <b>Description:</b>
  <%= @movie.description %>
</p>


<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
